.tm-bullet-list {
    padding-left: 35px;
}

.tm-numbered-list {
    padding-left: 35px;
}

.navbar_custom {
    /*background: #2c2c2c;*/
    position: fixed;
    visibility: visible;
    z-index: 10;
}

.clinic-location-text {
    font-size: 15px;
    line-height: 29px;
    margin: -32px 0 3px 0;
    padding: 20px 20px 41px 20px;
    position: relative;
    top: 6px;
    bottom: 10px;
}

.dropdown-menu {
    /*display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 100%;
    left: 25%;
    z-index: 1000;
    display: none;
    /*float: left;*/
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.custom_padding {
    padding-top: 100px;
}

.custom_padding_gallery {
    padding-top: 20px;
    margin: 0 0 0 0;
}

.custom_padding_therapists {
    padding-top: 20px;
}

.fullscreen-bg {
    /*position: fixed;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg_video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg_video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        /*background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;*/
        background: url('images/bamboo.jpg') center center / cover no-repeat;
    }
    .fullscreen-bg_video {
        /*display: none;*/
        /*background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;*/
    }
    #landing_title {
        padding-top: 40px;
        font-size: 28px;
    }
    #landing_text {
        font-size: 18px;
    }
    img#bwell_navbar_logo {
        transform: scale(0.5);
    }
}

#therapist-text p {
    font-family: 'Oxygen', sans-serif;
    color: #252525;
    /*margin-top: 25px;*/
    padding-top: 25px;
}

.therapist-titles-text {
    /* Center the title text */
    text-align: center;
}

.therapist-titles-images {
    padding-top: 25px;
    /* Center the image */
    margin-left: auto;
    margin-right: auto;
}

.therapist-titles-allison {
    padding-top: 25px;
    /* Center the image */
    margin-left: auto;
    margin-right: auto;
}

.therapist-titles-marie {
    padding-top: 25px;
    /* Center the image */
    margin-left: auto;
    margin-right: auto;
}

.therapist-titles-donna {
    padding-top: 25px;
    /* Center the image */
    margin-left: auto;
    margin-right: auto;
}

.facebook-title-logo {
    padding-bottom: 25px;
    padding-right: 10px;
}

.facebook-title h3 {
    padding-bottom: 0px;
    padding-top: 25px;
    margin-right: 25px;
    font-family: 'Oxygen', sans-serif;
    color: #252525;
    font-size: 12;
}

.subscribe-newsletter-section {
    color: #9c9c9c;
}

.tm-button-white {
    border-color: white;
    color: white;
    margin: 0 0 13px 10px;
    text-decoration: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: white;
    text-decoration: none;
}

.therapies-font {
    color: white;
    font-size: 15px;
    margin: -32px 0 3px 0;
    position: relative;
    top: 6px;
    bottom: 10px;
}

.therapies-article {
    color: #ffffff;
    font-size: 17px;
    line-height: 27px;
    text-align: left;
    position: relative;
    margin-top: -21px;
    top: 14px;
    left: 20px;
}

.therapies-header h3 {
    color: white;
    font-size: 12;
}

.section__container--isolated {
    padding-bottom: 40px;
    padding-top: 93px;
}